{% extends "awenarum/base.html" %}

{% block content %}
{% if articles %}
    <div class="articles">
        {% for article in articles %}
            <article class="mainpage_article">
                <a href="{% url 'home:article' article.id %}"><h2>{{ article.title }}</h2></a>
                <h4>{{ article.subtitle }}</h4>
                <img src="{{ article.image.url }}" alt="image" height="200">
                {{ article.text | linebreaks }}
            </article>
        {% endfor %}
    </div>
{% else %}

{% endif %}
{% endblock %}
