
<div class="contact">
    <p><span class="contact_type">Tel:&nbsp;</span><span class="contact_value"><a href="tel:01460894523">01460&nbsp;894523</a></span></p>
    <p><span class="contact_type">Email:&nbsp;</span><span class="contact_value"><a href="mailto:info@awen-arum.com">info@awen-arum.com</a></span></p>
</div>
<a href="/"><div class="header_logo"></div></a>
<div class="sitename">
    <h1>Awen Arum</h1>
    <h3>Homemade Skincare</h3>
</div>
<div class="navigation">
    <a class="navitem" id="active" href="/">Home</a>
    <a class="navitem" href="/store">Store</a>
    <a class="navitem" href="/contact">Contact</a>
</div>
